@tailwind base;
@tailwind components;
@tailwind utilities;

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@layer components {
  .animate-updown {
    animation-name: animate-updownAnim;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
  }

  @keyframes animate-updownAnim {
    from {
      transform: translateY(-20px);
    }
    to {
      transform: translateY(20px);
    }
  }
}
html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 8px;
  background: rgb(227, 227, 227);
}
::-webkit-scrollbar-thumb {
  width: 10px;
  border-radius: 8px;
  background: #03b77f;
}
::-webkit-scrollbar-thumb:hover {
  width: 10px;
  border-radius: 8px;
  background: #f5bf42;
}
